@font-face {
  font-family: "MaPolice";
  src: url("fonts/MTNBrighterSans-Bold.otf") format("otf"),
    url("fonts/MTNBrighterSans-BoldItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraBold.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraLight.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraLightItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Light.otf") format("otf"),
    url("fonts/MTNBrighterSans-LightItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Medium.otf") format("otf"),
    url("fonts/MTNBrighterSans-MediumItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Regular.otf") format("otf"),
    url("fonts/MTNBrighterSans-RegularItalic.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "MaPolice", sans-serif;
  background-color: #f0f0f0;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  width: 33.33%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}
.slide-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 85%;
  margin: auto;
  height: 68px;
  width: 284px;
}
.slide-content h2 {
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.slide-content p {
  font-size: 1rem;
}
.slider-nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffc53f;
  transition: background-color 0.3s;
}
.slider-nav a:hover,
.slider-nav a:target {
  background-color: yellow;
}
.skip-link {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.skip-link i {
  color: #f0f0f0;
  border: #f0f0f0 solid #f0f0f0;
  border-radius: 100%;
  background-color: #0076c0;
  margin-left: 5px;
  padding: 0.5rem;
  margin-left: 0.5em;
}
.btn-inscrire {
  padding: 10px 20px;
  margin: 30px 0px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 300px;
  justify-content: space-between;
  display: flex;
}

.btn-connecter {
  padding: 10px 20px;
  margin: 30px 5px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #0076c0;
  height: 50px;
  width: 300px;
  justify-content: space-between;
  display: flex;
}

.btn-connecter span,
.btn-inscrire span {
  color: #fff;
  font-family: "MaPolice";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 0 1 0;
}

.btn-connecter i,
.btn-inscrire i {
  width: 24px;
  height: 14px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
}

.btn-inscrire:hover,
.btn-connecter:hover {
  background-color: yellow;
  color: #333;
}
#slide1:target ~ .slider {
  transform: translateX(0);
}
#slide2:target ~ .slider {
  transform: translateX(-33.33%);
}
#slide3:target ~ .slider {
  transform: translateX(-66.66%);
}

@media (min-width: 768px) {
  .slide-content h2 {
    font-size: 2rem;
  }
  .slide-content p {
    font-size: 1.2rem;
  }
  .btn-inscrire,
  .btn-connecter {
    font-size: 1rem;
  }
}
