@font-face {
  font-family: "MaPolice";
  src: url("fonts/MTNBrighterSans-Bold.otf") format("otf"),
    url("fonts/MTNBrighterSans-BoldItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraBold.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraLight.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraLightItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Light.otf") format("otf"),
    url("fonts/MTNBrighterSans-LightItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Medium.otf") format("otf"),
    url("fonts/MTNBrighterSans-MediumItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Regular.otf") format("otf"),
    url("fonts/MTNBrighterSans-RegularItalic.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "MaPolice", sans-serif;
  height: 100%;
  background-color: #f0f0f0;
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-direction: column;
  overflow: hidden;
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: space-evenly;
}

.header h1 {
  color: #0056b3;
  margin: 0;
  font-size: 24px;
}

.subtitle {
  color: #666;
  margin: 0 20px 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.carousel-container {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 20px;
}

.card {
  flex: 0 0 auto;
  width: calc(100% - 40px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  scroll-snap-align: center;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3em));
}

.card-content {
  padding: 15px;
}

.card h2 {
  margin: 0 0 5px;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.05); /* Zoom lors du survol */
  transform: scaleY(1.1);
}

.card p {
  margin: 0;
  color: #c4c4c4;
  font-size: 17px;
}

.follow-btn {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #0076c0;
  padding: 20px;
  position: relative;
  width: 100%;
}

.submit-button {
  background-color: #0076c0;
  color: white;
  width: 100%;
  border: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.submit-button i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
  .submit-button {
    font-size: 18px;
  }
}
