@font-face {
  font-family: "MaPolice";
  src: url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Bold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-BoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLight.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Light.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-LightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Medium.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-MediumItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

/* Styles de base */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "MaPolice", sans-serif;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-color: white;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "MaPolice", sans-serif;
}

.profile-container {
  position: relative;
  height: 59%;
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10;
}
.back-button,
.share-button {
  background: none;
  border: none;
  cursor: pointer;
}
.user-name {
  /* color: white; */
  /* font-size: 18px; */
  /* font-weight: bold; */
  color: #fff;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.background-image {
  width: 100%; /* Utiliser toute la largeur disponible */
  height: 70%; /* Utiliser toute la hauteur disponible */
  object-fit: cover; /* S'assure que l'image couvre l'espace sans se déformer */
  filter: brightness(
    0.7
  ); /* Optionnel : garde l'effet de filtre si nécessaire */
  /* border-bottom-left-radius: 19%; */ /* Garde les coins arrondis si nécessaire */
  /* border-bottom-right-radius: 17%; */ /* Garde les coins arrondis si nécessaire */
  overflow: hidden; /* Cache tout dépassement de l'image */
  clip-path: ellipse(140% 100% at 51% 0%);

  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}

.badge-profile {
  position: absolute;
  top: 225%;
  left: 52%;
  transform: translate(-50%, -50%);
  /* width: 79px; */
  /* height: 100px; */
  width: 79px;
  height: 99.314px;
  flex-shrink: 0;
  margin: auto;
}

.bas {
  margin-top: -39px;
  margin-left: 50px;
  color: black;
  position: absolute;
  top: 82%;
  right: -22%;
  padding-right: 20%;
  transform: translate(-50%, -50%);
  width: 79px;
  height: 99.314px;
  flex-shrink: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  align-items: end;
}

.profile-info {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.profile-picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.inf {
  top: 60px;
  position: relative;
}

.points {
  /* font-weight: bold; */
  margin: 10px 0 0;
  position: relative;
  /* top: 15px; */
  color: #000;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.role {
  /* color: #888; */
  /* margin-bottom: 83px; */
  /* top: 10px; */
  position: relative;
  color: #c4c4c4;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/************************************ */
.tabs {
  width: 93%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 59px;
  background: #e5e5e5;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.tab {
  padding: 10px 17px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0;
  color: #939393;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}

/* Onglet actif */
.tab.active {
  background-color: #ffcb00;
  color: #392c2c;
}

/* Onglet par défaut au survol */
.tab:hover {
  background-color: #ffcb00;
  color: #392c2c;
}

.content {
  padding: 20px;
  border-top: 0.1px solid #c4c4c4;
  padding: 13px;
}

.card {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card img {
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin: auto;
}

.card img {
  display: block;
}

#fresh:checked ~ .content .fresh-content,
#badges:checked ~ .content .badges-content,
#subscriptions:checked ~ .content .subscriptions-content {
  display: block;
}

#fresh:not(:checked) ~ .content .fresh-content,
#badges:not(:checked) ~ .content .badges-content,
#subscriptions:not(:checked) ~ .content .subscriptions-content {
  display: none;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.fresh-section {
  margin-bottom: 20px;
}

.fresh-section h4 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 19px;
}

.fresh-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fresh-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.fresh-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Ajustement pour les autres cartes */
.card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.subscriptions-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.badge-grid {
    display: flex;
    column-gap: 13px;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.badge1 {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.badge2 {
display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.badge {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: unset;
  border-radius: 5px;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 97%;
  height: 150px;
  flex-shrink: 0;
}
.badge-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.badge-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.badge-title {
  /* font-weight: bold; */
  /* font-size: 1.1em; */
  color: #000;
  font-family: "MTN Brighter Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.badge-description {
  /* font-size: 0.9em; */
  /* color: #666; */
  color: #000;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.badges-content p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto 30px 20px;
}
