@font-face {
  font-family: "MaPolice";
  src: url("../fonts/MTNBrighterSans-Bold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-BoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLight.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Light.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-LightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Medium.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-MediumItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
