@font-face {
  font-family: "MaPolice";
  src: url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Bold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-BoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLight.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Light.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-LightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Medium.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-MediumItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "MaPolice", sans-serif;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-color: white;
  overflow-y: auto;
}

.profile-container {
  position: relative;
  height: 65%;
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10;
}
.back-button,
.share-button {
  background: none;
  border: none;
  cursor: pointer;
}
.user-name {
  /* color: white; */
  /* font-size: 18px; */
  /* font-weight: bold; */
  color: #fff;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.background-image {
  width: 100%; /* Utiliser toute la largeur disponible */
  height: 60%; /* Utiliser toute la hauteur disponible */
  object-fit: cover; /* S'assure que l'image couvre l'espace sans se déformer */
  filter: brightness(
    0.7
  ); /* Optionnel : garde l'effet de filtre si nécessaire */
  /* border-bottom-left-radius: 19%; */ /* Garde les coins arrondis si nécessaire */
  /* border-bottom-right-radius: 17%; */ /* Garde les coins arrondis si nécessaire */
  overflow: hidden; /* Cache tout dépassement de l'image */
  clip-path: ellipse(140% 100% at 51% 0%);
}

.badge-profile {
  position: absolute;
  top: 189%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 79px; */
  /* height: 100px; */
  width: 79px;
  height: 99.314px;
  flex-shrink: 0;
  margin: auto;
}

.profile-info {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.profile-picture {
  width: 129px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.inf-bas {
  top: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  /* padding-top: 10px; */
}

.inf-bas button {
  width: 147px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-radius: 59px;
  background: #0076c0;
  margin-top: 15px;
}
.inf-bas button:hover {
  background: #005b8d;
}
.inf-bas button:active {
  background: #004568;
}
.inf-bas button span {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.follow-svg {
  width: 93px;
  height: 15px;
  flex-shrink: 0;
  margin-top: 29px;
}

.inf-gauche {
  top: -5px;
  left: -118px;
  position: relative;
}

.inf-droite {
  top: -153px;
  left: 130px;
  position: relative;
}

.points {
  /* font-weight: bold; */
  margin: 10px 0 0;
  position: relative;
  /* top: 15px; */
  color: #000;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.role {
  /* color: #888; */
  /* margin-bottom: 83px; */
  /* top: 10px; */
  position: relative;
  color: #c4c4c4;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
::-webkit-scrollbar {
  display: none;
}

/*************************  */
.bio {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 200px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.bio span {
  color: #c4c4c4;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-section {
  padding: 15px;
  border-top: 1px solid #c4c4c4;
}

.content-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.content-section {
  padding: 20px;
}

.content-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-container img {
  width: 100%;
  /* height: auto; */
  border-radius: 10px;
  display: block;
  height: 150px;
  flex-shrink: 0;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}

.video-thumbnail {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playlist {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.playlist-item {
  flex: 0 0 auto;
  width: 120px;
  margin-right: 10px;
}

.playlist-thumbnail {
  width: 120px;
  height: 80px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 215, 0, 0.9);
  /* Couleur de fond jaune */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon i {
  color: white;
  font-size: 18px;
}

.audio-player img {
  width: 100%;
  border-radius: 10px;
  /* Optionnel, pour des coins arrondis */
}

.audio-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: transparent;
  margin-bottom: 1.43em;
}

.bar {
  width: 1rem;
  height: 20px;
  /* La hauteur sera animée pour simuler l'effet audio */
  background-color: #ffcb00;
  animation: bounce 1s infinite ease-in-out;
}

.trends-section {
  margin-bottom: 20px;
}

.titre-trend {
  margin-bottom: 10px;
  /* font-size: 18px; */
  margin-left: 15px;
  color: #000;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.scrollable-cards {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 20px 0 5;
  /* scroll-snap-type: x mandatory; */
  height: auto;
  overflow-y: clip;
}
.card {
  flex: 0 0 auto;
  width: 191px;
  height: 90px;
  position: relative;
  scroll-snap-align: start;
}
.card-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 5px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(<path-to-image>) lightgray 50% / cover no-repeat, #ffcb00;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
.card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  /* display: contents; */
}
.card-content2 {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  /* display: contents; */
}
.card-title {
  /* font-size: 18px; */
  /* font-weight: bold; */
  margin-bottom: 5px;
  top: -40px;
  position: relative;
  color: #fff;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.card-author {
  font-size: 14px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: -45px;
  position: relative;
}

.audio-player img {
  width: 100%;
  border-radius: 10px; /* Optionnel, pour des coins arrondis */
}

.audio-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffcb00; /* Couleur de fond jaune */
  border-radius: 50%;
  /* width: 30px; */
  /* height: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  left: 0px;
  top: 1px;
}

.audio-bar {
  position: absolute;
  bottom: -27px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: transparent;
  margin-bottom: 1.8em;
}

.bar {
  width: 1rem;
  height: 20px; /* La hauteur sera animée pour simuler l'effet audio */
  background-color: #ffcb00;
  animation: bounce 1s infinite ease-in-out;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.img-title {
  /* font-size: 18px; */
  /* font-weight: bold; */
  margin-bottom: 5px;
  top: -40px;
  position: relative;
  color: #fff;
  /* font-family: "MTN Brighter Sans"; */
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  /* display: flex; */
  align-content: space-between;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
}

.img-title button {
  border-radius: 50px;
  border: 1px solid #fff;
  background: transparent;
  width: 91px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  top: -21px;
  position: relative;
  left: 25%;
}

.img-title button span {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}

.vid-plus-svg {
  /* margin-right: 10px; */
  /* width: 120px; */
  /* height: 12.833px; */
  /* flex-shrink: 0; */
  /* stroke-width: 1px; */
  /* stroke: #fff; */
  top: -21px;
  /* width: 14px; */
  height: 14px;
  /* flex-shrink: 0; */
  /* margin: auto; */
  padding-left: -8px;
  position: relative;
  margin-left: 69px;
}

.vid-plus {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: -24px;
  position: relative;
  left: 50px;
}
