@font-face {
  font-family: "MaPolice";
  src: url("fonts/MTNBrighterSans-Bold.otf") format("otf"),
    url("fonts/MTNBrighterSans-BoldItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraBold.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraLight.otf") format("otf"),
    url("fonts/MTNBrighterSans-ExtraLightItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Light.otf") format("otf"),
    url("fonts/MTNBrighterSans-LightItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Medium.otf") format("otf"),
    url("fonts/MTNBrighterSans-MediumItalic.otf") format("otf"),
    url("fonts/MTNBrighterSans-Regular.otf") format("otf"),
    url("fonts/MTNBrighterSans-RegularItalic.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
