@font-face {
  font-family: "MaPolice";
  src: url("../fonts/MTNBrighterSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Styles de base */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "MaPolice", sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  /* Dégradé depuis le haut + image de fond */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../assets/img2.jfif") lightgray 50% / cover no-repeat;

  filter: brightness(0.9);
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.9);
}

header {
  padding: 20px;
  position: relative;
}

header i {
  color: #f0f0f0;
  border: #f0f0f0 solid #f0f0f0;
  border-radius: 100%;
  background-color: #0076c0;
  margin-left: 5px;
  padding: 0.5rem;
}

.back-button {
  position: absolute;
  left: 20px;
  font-size: 20px;
  top: 16px;
}

.back-button svg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: #fff;
}

header h1 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: white;
}

main {
  padding: 20px;
  height: calc(100% - 60px); /* Ajuster la hauteur */
}

.icon-container {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.icon-container i {
  font-size: 70px;
  color: white; /* Supprimer le fond et rendre l'icône blanche */
}

.input-container {
  top: 20%;
  margin-bottom: 1px;
  position: relative;
}

input {
  padding: 0 0px 0 21px;
  margin: 10px 5px 20px 5px;
  border-radius: 40px;
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.9s ease;
  height: 50px;
  width: 90%;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    font-family: "MaPolice", sans-serif;
}

input::placeholder {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "MaPolice", sans-serif;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.9s ease;
}

.forgot-password {
  position: absolute;
  right: 10px;
  bottom: -5px; /* Placer en dessous du champ */
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.separator {
  text-align: center;
  margin: 20px 0;
  color: white;
  position: relative;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

/* Bouton Facebook */
.facebook-button {
  background-color: white; /* Fond blanc */
  /* color: #3b5998; */ /* Texte bleu Facebook */
  border: 2px solid white; /* Bordure bleue Facebook */
  width: 86%;
  padding: 10px;
  border-radius: 60px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  top: 79%;
  position: fixed;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  padding-right: 37%;
  font-family: "MaPolice", sans-serif;
  margin: 5px;

  }

.submit-button {
  background-color: #0076c0;
  color: white;
  width: 100%;
  border: none;
  margin: auto;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #0076c0;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

*{
      font-family: "MaPolice", sans-serif;
}

.submit-button span {
  color: #fff;
  font-family: "MaPolice";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.facebook-button i,
.submit-button i {
  margin-right: 10px;
}

.submit-button svg {
  padding-left: 10px;
}
