@font-face {
  font-family: "MaPolice";
  src: url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Bold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-BoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLight.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Light.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-LightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Medium.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-MediumItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "MaPolice", sans-serif;
  height: 100%;
  background-color: #f0f0f0;
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-direction: column;
  overflow: hidden;
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none;
}

.header {
  display: flex;
  margin-bottom: 20px;
  padding: 20px 0px 20px 90px;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header h1 {
  color: #0056b3;
  margin: 0;
  font-size: 24px;
}

.subtitle {
  /* color: #666; */
  margin: auto;
  color: #c4c4c4;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
  position: relative;
  top: -1px;
}

.carousel-container {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  height: 57%;
}

.card {
  flex: 0 0 auto;
  width: calc(100% - 20%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  scroll-snap-align: center;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 66%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3em));
}

.card-content {
  padding: 15px;
  justify-content: space-evenly;
  display: flex;
  align-content: stretch;
}

.card h2 {
  margin: 0 0 5px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.05); /* Zoom lors du survol */
  transform: scaleY(1.1);
}

.card p {
  color: #c4c4c4;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: auto;
}

.card span {
  color: #c4c4c4;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.follow-btn {
  display: block;
  /* width: 50%; */
  /* padding: 10px; */
  color: white;
  border: none;
  /* border-radius: 30px; */
  margin-top: 0px;
  cursor: pointer;
  width: 82px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #0076c0;
  top: 33px;
  position: relative;
}

.follow-btn span {
  color: #fff;
  font-family: "MaPolice";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -1px;
  position: relative;
}

/* Footer */
footer {
  background-color: #0076c0;
  padding: 20px;
  position: relative;
  width: 100%;
}

.submit-button {
  background-color: #0076c0;
  color: white;
  width: 100%;
  border: none;
  margin: auto;
  cursor: pointer;
}

.submit-button svg {
  margin-left: 10px;
}

.submit-button {
  background-color: #0076c0;
  color: white;
  width: 100%;
  border: none;
  margin: auto;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #0076c0;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.submit-button span {
  color: #fff;
  font-family: "MaPolice";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
  .submit-button {
    font-size: 18px;
  }
}
