@font-face {
  font-family: "MaPolice";
  src: url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-BoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBold.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraBoldItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLight.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-ExtraLightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Light.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-LightItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Medium.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-MediumItalic.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-Regular.otf") format("opentype"),
    url("../fonts/MTNBrighterSans-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "MaPolice", sans-serif;
  background-color: #f0f0f0;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  width: 33.33%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* Appliquer la propriété background aux images de diapositives */

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  -webkit-filter: brightness(0.6);
}

.slide-content {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  width: 85%;
  margin: auto;
  height: 68px;
  width: 284px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.slide-content2 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 85%;
  margin: auto;
  height: 68px;
  width: 284px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.slide-content h2,
.slide-content2 h2 {
  margin-bottom: 0.5rem;
  font-style: normal;
  font-weight: 700;
  opacity: 1;
  font-size: 22px;
  text-align: left;
  line-height: normal;
}
.slide-content p,
.slide-content2 p {
  opacity: 0.8;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}

.slider-nav {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.slider-nav a {
  width: 10px;
  height: 10px;
  opacity: 0px;

  border-radius: 50%;
  transition: background-color 0.3s;
}

/* Onglet actif par défaut */
.default-active {
  background-color: #ffc53f;
}

.default-active2 {
  background-color: #775a18;
}

.default-active1 {
  background-color: #775a18;
}

/* Active par défaut pour le premier slide */
#slide1:target ~ .slider-nav a[href="#slide1"],
.default-active {
  background-color: #ffc53f;
}

/* Changement de l'active sur le slide 2 */
#slide2:target ~ .slider-nav a[href="#slide2"] {
  background-color: #ffc53f;
}

/* Changement de l'active sur le slide 3 */
#slide3:target ~ .slider-nav a[href="#slide3"] {
  background-color: #ffc53f;
}

/* Lorsque un autre slide est actif, désactiver la couleur du default-active */
#slide2:target ~ .slider-nav a.default-active,
#slide3:target ~ .slider-nav a.default-active {
  background-color: #775a18;
}

/* Lorsque le slide 1 est actif, désactiver la couleur du default-active */
#slide1:target ~ .slider-nav a.default-active1,
#slide1:target ~ .slider-nav a.defaul-active2 {
  background-color: #775a18;
}

.skip-link {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.skip-link svg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-left: 14px;
}
.btn-inscrire {
  padding: 10px 20px;
  margin: 30px 0px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 300px;
  justify-content: space-between;
  display: flex;
}

.btn-connecter {
  padding: 10px 20px;
  margin: 30px 0px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #0076c0;
  height: 50px;
  width: 300px;
  justify-content: space-between;
  display: flex;
}

.btn-connecter span,
.btn-inscrire span {
  color: #fff;
  font-family: "MaPolice";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 0 1 0;
}

.btn-connecter svg,
.btn-inscrire svg {
  width: 24px;
  height: 14px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
  margin: 6px;
}

#slide1:target ~ .slider {
  transform: translateX(0);
}
#slide2:target ~ .slider {
  transform: translateX(-33.33%);
}
#slide3:target ~ .slider {
  transform: translateX(-66.66%);
}

@media (min-width: 768px) {
  .slide-content h2 {
    font-size: 2rem;
  }
  .slide-content p {
    font-size: 1.2rem;
  }
  .btn-inscrire,
  .btn-connecter {
    font-size: 1rem;
  }
}
